/* ABOUT PAGE */

.parent {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 8px;
}

.div7 {
  grid-column: span 3 / span 3;
  grid-row: span 5 / span 5;
  grid-column-start: 2;
  grid-row-start: 1;
  background-color: transparent;
}

.div7 h1 {
  text-align: center;
}

.about-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin: 0 45px 0 45px;
}

.what-is {
  width: 250px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.about-faq {
  justify-content: center;
  text-align: center;
  margin: 10px auto;
}

.about-faq i {
  color: rgb(33, 32, 32);
  transform: translateY(2.75px);
}

.div8 {
  grid-row: span 5 / span 5;
  grid-column-start: 1;
  grid-row-start: 1;
  background-color: transparent;
}

.div9 {
  grid-row: span 5 / span 5;
  grid-column-start: 5;
  background-color: transparent;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: auto auto 85px auto;
  padding-top: 50px;
}

.faqs .faq .head {
  display: flex;
  padding: 25px 0px;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

h2 {
  font-family: "Fahkwang", sans-serif;
}

.faqs .faq .head svg {
  transition: transform 0.25s ease-in;
}

.faqs .faq .content {
  height: 0px;
  overflow-y: hidden;
  transition: height 0.25s ease-in;
  border-bottom: 1px solid #afafaf;
  font-weight: 400;
}

/* Cuando esta activo */
.faqs .faq.active .head svg {
  transform: rotate(180deg);
}
